{% extends 'base.html.twig' %}

{% block title %}Accueil La Tanguiere{% endblock %}

{% block body %}
    <section>
        <div class="mb-4 css-img">
            <img src="{{ asset('assets/img/imgAccueil.png') }}">
             <p class="css-img-text" >CHAMBRES D'HÔTES - LA RÉUNION</p>
        </div>
        
        <div class="container-fluid">
            
            <div class="row text-center mx-2 mb-2">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h2>NOS CHAMBRES</h2>
                </div>
                <div class="col-md-4 line-top">
                </div>
            </div>
                
            <div class="container pt-5 w-75 main">
                <div class="row mb-4">
                        <p class="mb-5">
                            La Tanguière vous propose 3 chambres d’hôtes sur l’île de La Réunion, proche de la ville de Saint Leu : la chambre Endormi, la chambre Requin et la chambre Tortue. Chaque logement comprend une chambre avec salle de bain et un coin kitchenette avec réfrigérateur, évier, micro-ondes… (sans plaque de cuisson). Les hébergements sont équipés d’une climatisation pour votre plus grand confort.
                        </p>
                    <div class="col-md-4 px-4 mt-4 pt-4">


                        <div class="bg-vert-sombre">
                            <div class="css-img">
                                <img src="{{ asset('assets/img/MicrosoftTeams-image-16.png') }}" class="img-chambres">
                            </div>
                            <div class="text-center">
                                <h5 class="text-light">CHAMBRE ENDORMI</h5>
                            </div>
                            
                        </div>
                        <p>
                            Avec une vue sur la mer et entouré de verdures,
                            ce logement se trouve à Saint Leu à proximité de commerces (restaurants, boutiques…).
                        </p>

                        <a data-toggle="collapse" class="more-chambre-one" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/plus--v1.png" width="30px" class="float-right mx-2 " />
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 px-4">
                        <div class="bg-marron">
                            <div class="css-img">
                                <img src="{{ asset('assets/img/MicrosoftTeams-image-7.png') }}" class="img-chambres">
                            </div>
                            <div class="text-center">
                                <h5 class="text-light" >CHAMBRE REQUIN</h5>
                            </div>
                            
                        </div>
                        <p>
                            Avec une vue sur la mer et entouré de verdures,
                            ce logement se trouve à Saint Leu à proximité de commerces (restaurants, boutiques…).
                        </p>

                        <a data-toggle="collapse" class="more-chambre-two" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/plus--v1.png" width="30px" class="float-right mx-2" />
                        </a>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 px-4 mt-4 pt-4">
                        <div class="bg-vert-sombre">
                            <div class="css-img">
                                <img src="{{ asset('assets/img/ChambreEndormi.jpg') }}" class="img-chambres">
                            </div>
                            <div class="text-center">
                                <h5 class="text-light">CHAMBRE TORTUE</h5>
                            </div>
                            
                        </div>
                        <p>
                            Avec une vue sur la mer et entouré de verdures,
                            ce logement se trouve à Saint Leu à proximité de commerces (restaurants, boutiques…).
                        </p>

                        <a data-toggle="collapse" class="more-chambre-one" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/plus--v1.png" width="30px" class="float-right mx-2" />
                        </a>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>

                    </div>

                    
                </div>
            </div>

            <div class=" text-center mb-5 mt-2">
                <a class="btn bg-vert-sombre w-25" href="">
                    <h5 class="text-light my-2"> RÉSERVER </h5>
                </a>

                <div class="mt-5">
                    <p>
                        Proche de la plage, du centre ville de Saint Leu et des commerces, nos chambres d’hôtes apportera confort et sécurité à votre séjour. <br />
                    </p>

                    <p>
                        Vous trouverez aux alentours de nos chambres d’hôtes : 
                    </p>

                    <p>
                        • à <b>3,5 km</b> : le centre de ville de Saint Leu et sa plage
                    <p/>

                    <p>
                        • à <b>1,1 km</b> : Kélonia, l’observatoire des tortues marines
                    </p>
                    
                    <p>
                        • à <b>10 km soit 15 minutes en voiture</b>, vous trouverez le centre commercial E.Leclerc Portail
                    </p>
                </div>
            </div>

            <div class="row text-center mx-2 mb-5 pt-5">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h2>A DÉCOUVRIR</h2>
                </div>
                <div class="col-md-4 line-top">
                </div>
            </div>
            
            <div class="row bg-blue-light mb-5">
                <div class="col-md-8">
                    <img src="{{ asset('assets/img/carteReunionHome.png') }}" width="60%" class="py-5 float-right" >
                </div>
                <div class="col-md-4">
                    <div class="local-pointer py-5 text-center">
                        <img src="{{ asset('assets/img/pictureLieuReunion.png') }}" class="w-50" >
                        {# <h4 class="font-weight-bold">À  <br> SAINT LIEU <br>LA RÉUNION</h4> #}
                    </div>
                </div>
            </div>

            <div class="row text-center mx-2 mb-5 pt-5 ">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h2>QUI SOMMES NOUS</h2>
                </div>
                <div class="col-md-4 line-top">
                </div>
            </div>
        
            <div class="row w-75 mx-auto mb-5">
                <div class="col-md-6">
                    <img src="{{ asset('assets/img/MicrosoftTeams-image.png') }}" class="w-75 float-right css-img-about" >
                </div>
                <div class="col-md-6 ">
                    <p class="text-center">NICOLE PAYET</p>
                    <p class="text-center">Artisant réunionnais travaillant l'écaille</p>
                    <p class="text-center">de tortue depuis de nombreuses années, j'ai récemment</p>
                    <p class="text-center">décidé de proposer des chambres d'hôtes de Saint Leu</p>
                    <p class="text-center">sur L'Ile de La Réunion.</p>
                </div>
            </div>

            <div class=" text-center mb-5 mt-2">
                <a class="btn bg-vert-sombre w-25" href="{{ path('nous_contacter') }}">
                    <h5 class="text-light my-2"> NOUS CONTACTER </h5>
                </a>
            </div>

        </div>
    </section>
{% endblock %}
