{% extends 'base.html.twig' %}

{% block title %}Nos découverte {% endblock %}

{% block body %}

    <section>

        <div class="mb-4">
            <div class="css-img">
                <img src="{{ asset('assets/img/AccueilDecouverteImage.png') }}" id="img-decouverte">
                <p class="css-img-text" >ACTIVITÉS SUR L'ÎLE DE LA RÉUNION</p>
            </div>
        </div> 
        
        <div class="container-fluid">
            
            <div class="row text-center mx-2 mb-5">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h3>ACTIVITÉS À DÉCOUVRIR</h3>
                </div>
                <div class="col-md-4 line-top">
                </div>
            </div>

            <div class="w-75 mx-auto pt-5 pb-5">
                <div class="row border box-vert ">
                    <div class="col-md-6 pl-0">
                        <img src="{{ asset('assets/img/sam-moqadam-UkwbRZkt8zM-unsplash.jpg') }}" width="100%" height="240px">
                    </div>
                    <div class="col-md-6 pt-3">
                        <h4>RANDONNEE DANS LES CIRQUES</h4> <br>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit
                         debitis deserunt explicabo? Voluptate explicabo tempore sapiente illum
                         dddrchitecto iure optio laborum corporis ex aperiam. Consequatur enim id ex, qui molestiae laudantium dolores tenetur commodi a, facilis expedita! Illum.</p>
                         
                         <a data-toggle="collapse" class="more-chambre-two text-muted float-right" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            Voir plus...
                        </a> 
                        <div class="collapse" id="collapseExample1">
                            <br>
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-75 mx-auto pt-5 pb-5">
                <div class="row border box-marron ">
                    <div class="col-md-6 pt-3">
                        <h4>TOUR EN HELICOPTERE</h4> 
                        <br>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit
                            debitis deserunt explicabo? Voluptate explicabo tempore sapiente illum
                            dddrchitecto iure optio laborum corporis ex aperiam. Consequatur enim id ex, 
                            qui molestiae laudantium dolores tenetur commodi a, facilis expedita! Illum.
                        </p>
                         
                         <a data-toggle="collapse" class="more-chambre-two text-muted float-right" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            Voir plus...
                        </a> 
                        <div class="collapse" id="collapseExample2">

                            <br>
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 pr-0">
                        <img src="{{ asset('assets/img/sam-moqadam-UkwbRZkt8zM-unsplash.jpg') }}" width="100%" height="240px">
                    </div>
                    
                </div>
            </div>

            <div class="w-75 mx-auto pt-5 pb-5">
                <div class="row border box-vert ">
                    <div class="col-md-6 pl-0">
                        <img src="{{ asset('assets/img/sam-moqadam-UkwbRZkt8zM-unsplash.jpg') }}" width="100%" height="240px">
                    </div>
                    <div class="col-md-6 pt-3">
                        <h4>PARAPENTE SUR LES COTES</h4> <br>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit
                         debitis deserunt explicabo? Voluptate explicabo tempore sapiente illum
                         dddrchitecto iure optio laborum corporis ex aperiam. Consequatur enim id ex, qui molestiae laudantium dolores tenetur commodi a, facilis expedita! Illum.</p>
                         
                         <a data-toggle="collapse" class="more-chambre-two text-muted float-right" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            Voir plus...
                        </a> 
                        <div class="collapse" id="collapseExample3">
                            <br>
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-75 mx-auto pt-5 pb-5">
                <div class="row border box-marron ">
                    <div class="col-md-6 pt-3">
                        <h4>VISITE GUIDEE</h4> 
                        <br>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit
                            debitis deserunt explicabo? Voluptate explicabo tempore sapiente illum
                            dddrchitecto iure optio laborum corporis ex aperiam. Consequatur enim id ex, 
                            qui molestiae laudantium dolores tenetur commodi a, facilis expedita! Illum.
                        </p>
                         
                         <a data-toggle="collapse" class="more-chambre-two text-muted float-right" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            Voir plus...
                        </a> 
                        <div class="collapse" id="collapseExample4">

                            <br>
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 pr-0">
                        <img src="{{ asset('assets/img/sam-moqadam-UkwbRZkt8zM-unsplash.jpg') }}" width="100%" height="240px">
                    </div>
                    
                </div>
            </div>




        </div>


    </section>

{% endblock %}
