{% extends 'base.html.twig' %}

{% block title %}Espace Reservations{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css" 
    integrity="sha256-u40zn9KeZYpMjgYaxWJccb4HnP0i8XI17xkXrEklevE=" crossorigin="anonymous">
{% endblock %}


{% block body %}
     <section>  

        <div id="carouselExampleControls" class="carousel slide reservation-slider" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" class="w-100" alt="">
                    
                    <div class="details">
                        <h2>CHAMBRE RESBROT</h2>
                        <p> <span>4 personnes,</span> <span>3 lit,</span> <span>2 salle de bain,</span>  <span>90£/nuit.</span> </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('assets/img/sam-moqadam-UkwbRZkt8zM-unsplash.jpg') }}" class="w-100" alt="">
                    
                    <div class="details">
                        <h2>CHAMBRE ENDORMI</h2>
                        <p> <span>2 personnes,</span> <span>1 lit,</span> <span>1 salle de bain,</span>  <span>90£/nuit.</span> </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('assets/img/ferenc-almasi-eYpcLDXHVb0-unsplash.jpg') }}" class="w-100" alt="">
                    <div class="details">
                        <h2>CHAMBRE SURGEV</h2>
                        <p> <span>3 personnes,</span> <span>4 lit,</span> <span>1 salle de bain,</span>  <span>90£/nuit.</span> </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="click" > <img src="{{ asset('assets/img/play-prev.png') }}"/> </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="click" > <img src="{{ asset('assets/img/play-next.png') }}"/> </span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="w-75 mx-auto py-5">
            <div class="row description-reserv mb-5">
                <div class="col-md-8 pr-5">
                    <h4 class="font-weight-bold mb-4">Description</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tenetur necessitatibus iusto iure in assumenda vel facere minima blanditiis totam sint, atque dolorum nesciunt nulla quas error et quae deleniti laborum odio. Excepturi porro voluptatem, dolor nisi fugit natus deserunt culpa recusandae
                     voluptates suscipit itaque voluptas quasi nihil sapiente fuga officia.</p>
                </div>
                <div class="col-md-4 pl-5">
                    <h4 class="font-weight-bold mb-4">Équipements</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Parking</p>
                        </div>
                        <div class="col-md-8">
                            Barbecue commun
                        </div>
                        <div class="col-md-4">
                            <p>Télévision</p>
                        </div>
                        <div class="col-md-8">
                            Climatisation
                        </div>
                        <div class="col-md-4">
                            <p>Dressing</p>
                        </div>
                        <div class="col-md-8">
                            
                        </div>
                        <div class="col-md-4">
                            <p>Wifi</p>
                        </div>
                        <div class="col-md-12">
                            Cuisine équipée <br> (sauf plaque de cuisson)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row description-reserv">
                <div class="w-100 px-3">
                    <h4 class="font-weight-bold mb-4">Dates</h4>
                </div>
                <div class="col-md-8" >
                    <div class="row p-5">
                        <div id="calendrier_1"  class="col-md-6">

                        </div>
                        <div id="calendrier_2"  class="col-md-6">
                        
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="reservation-card py-4 px-3">
                        <p>90£ / nuit</p>
                            <div class="row list-reserve">
                                <div class="col-md-6 px-0 one">
                                    <p class="">
                                        <span>A2</span> <br>
                                        <span>Chambre resto</span>
                                    </p>
                                </div>
                                <div class="col-md-6 px-0">
                                    <p class="">
                                        <span>B450</span> <br>
                                        <span>Douche 5G</span>
                                    </p>
                                </div>
                                <div class="col-md-12 px-0">
                                    <p class="">
                                        <span>Lieu plage</span> <br>
                                        <span>Mercia resto</span>
                                    </p>
                                </div>
                            </div>

                        <div class="text-center">
                            <a class="btn bg-vert-sombre w-75 mt-4 mb-2 text-light font-weight-bold" href="{{ path('subscrib_reservation') }}"> RÉSERVER </a>
                        
                            <p><span>90£ </span> x <span> 21 nuit</span> = <span> 1890£</span></p>
                            <p>Total = <span>690£</span></p>
                        </div>
                    </div>
                    
                </div>

            </div>

            <div class="row a-savoir py-4">
                <div class="w-100 px-3">
                    <h4 class="font-weight-bold mb-4">À savoir</h4>
                </div>
                <div class="col-md-4">
                    <p>Arrivée: entre 11h et 18h</p>
                    <p>Départ: avant 13h</p>
                    
                </div>
                <div class="col-md-4">
                    <p>Pas d'animaux de compagnie</p>
                    <p>Non fumeur</p>
                    <p>Pas de fêtes ni de soirée</p>
                </div>
            </div>

            <div class="reservation-comment mt-5 py-4 px-4">
                <p class="font-weight-bold mb-4">
                    <img src="https://img.icons8.com/emoji/48/000000/star-emoji.png" class="pb-2" width="25px"/>
                    <span>4,70 </span> <span>( 30 commentaires )</span>
                </p>
            
                <div class="row px-2">
                    
                    <div class="col-md-6 pr-5">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Propreté</p>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10 p-1">
                                        <div class="progress my-2" style="height: 4px;">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 81%" 
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-1">
                                        <span>4,8</span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>Communication</p>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10 p-1">
                                        <div class="progress my-2" style="height: 4px;">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 75%" 
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-1">
                                        <span>4,7</span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>Arrivée</p>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10 p-1">
                                        <div class="progress my-2" style="height: 4px;">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 95%" 
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-1">
                                        <span>4,9</span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="row mt-4 reserve-user">
                            <div class="col-md-2 px-2">
                                <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" alt=""> 
                            </div>
                            <div class="col-md-10 pl-0">
                                <span class="font-weight-bold">Bastien </span> <br> 
                                <span class="text-muted"> mars 2021 </span>
                            </div>
                            <div class="col-md-12 pt-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores doloremque aspernatur illo perspiciatis sunt corporis omnis ducimus in ad.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 pl-5">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Précision</p>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10 p-1">
                                        <div class="progress my-2" style="height: 4px;">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" 
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-1">
                                        <span>4,8</span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>Emplacement</p>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10 p-1">
                                        <div class="progress my-2" style="height: 4px;">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" 
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-1">
                                        <span>4,8</span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>Qualité prix</p>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10 p-1">
                                        <div class="progress my-2" style="height: 4px;">
                                            <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" 
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-1">
                                        <span>4,8</span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="row mt-4 reserve-user">
                            <div class="col-md-2 px-2">
                                <img src="{{ asset('assets/img/ferenc-almasi-eYpcLDXHVb0-unsplash.jpg') }}" alt=""> 
                            </div>
                            <div class="col-md-10 pl-0">
                                <span class="font-weight-bold">Nicolas </span> <br> 
                                <span class="text-muted"> fevrier 2021 </span>
                            </div>
                            <div class="col-md-12 pt-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores doloremque aspernatur illo perspiciatis sunt corporis omnis ducimus in ad.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            
        </div>

            <div class="row text-center mx-2 my-5">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h2>AUTRES CHAMBRES</h2>
                </div>
                <div class="col-md-4 line-top">
                </div>

                
            </div>

            <div class="mx-auto py-5 w-50">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bg-marron">
                            <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" class="img-chambres">
                            <div class="text-center">
                                <h5 class="text-light">CHAMBRE REQUIN</h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-marron">
                            <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" class="img-chambres">
                            <div class="text-center">
                                <h5 class="text-light">CHAMBRE TORTURE</h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


        

        



    </section>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js" 
    integrity="sha256-yirUYbNvdsLHfZcQDyDMB51pfQ0Mn8siGDZOvtBgCFw=" crossorigin="anonymous"></script>


    <script>
    
    /*PREMIER CALENDRIER */
        window.onload = () => {
            let calendarOne = document.querySelector('#calendrier_1')
            let calendar = new FullCalendar.Calendar(calendarOne,{
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'UTC',
                headerToolbar: {
                    start: '',
                    center:'title',
                    end: ''
                },
                editable: true,
                eventResizableFromStart: true
            });

            calendar.on('eventChange', (e) => {
                console.log(e)
            })
            

            calendar.render();
        };

        
        /*SECOND CALENDRIER */

       document.addEventListener('DOMContentLoaded', function() {
            var calendarTwo = document.getElementById('calendrier_2');
            let calendar = new FullCalendar.Calendar(calendarTwo,{
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'UTC',
                headerToolbar: {
                    start: 'prev',
                    center:'title',
                    end: 'next'
                },
                editable: true,
                eventResizableFromStart: true,
                
            });

            calendar.on('eventChange', (e) => {
                console.log(e)
            })
            

            calendar.render();
        });
    
    </script>
{% endblock %}