<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}La Tanguiere{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <div class="mx-auto">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarColor02">
                <a class="navbar-brand" href="{{ path('accueil') }}">
                   <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" height="50" width="90" alt="">
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('nos_chambres') }}">NOS CHAMBRES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('nos_decouverte') }}">A DECOUVRIR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('nous_contacter') }}">CONTACTEZ NOUS</a>
                    </li>
                    <li>
                        <a class="btn bg-vert-sombre text-light" href=""> RÉSERVER </a>
                    </li>
                
                </ul>
            </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}


        <footer class="bg-marron py-5">
            <div class="row px-5">
                <div class="col-md-3">
                    <h4 class="font-weight-bold">LA TANGUIERE</h4>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="" class="text-dark">Qui Sommes-nous ?</a> 
                    </p>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="" class="text-dark">Réserver dès maintenant</a> </p>
                </div>
                <div class="col-md-3">
                    <h4 class="font-weight-bold">NOS RUBRIQUES</h4>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="{{ path('accueil') }}" class="text-dark">Accueil</a> </p>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="{{ path('nos_chambres') }}" class="text-dark">Nos chambres</a> </p>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="{{ path('nos_decouverte') }}" class="text-dark">A découvrir</a> </p>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="" class="text-dark">Contactez-nous</a> </p>
                </div>
                <div class="col-md-3">
                    <h4 class="font-weight-bold">NOS MENTIONS</h4>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="" class="text-dark">Mentions légales</a> </p>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="" class="text-dark">CGV</a> </p>
                    <p> 
                        <img src="https://img.icons8.com/material-two-tone/24/000000/arrow.png"/>
                        <a href="" class="text-dark">RGPD</a> </p>
                </div>
                <div class="col-md-3 aides-contact">
                    <h4 class="font-weight-bold">AIDES & CONTACT</h4>
                    <p> Une question ? <br> Un renseignement ? </p>
                    <p> <a href="" class="text-dark font-weight-bold">Contactez-nous</a> </p>
                    <a href="" class="mx-2">
                        <img src="https://img.icons8.com/metro/26/000000/facebook-new--v2.png"/>
                    </a>
                    <a href="" class="mx-2">
                        <img src="https://img.icons8.com/ios-glyphs/50/000000/instagram-new.png"/ width="30px">
                    </a>
                </div>
            </div>

        </footer>

    </body>
</html>
